:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--slate);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.headr {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--cornflower);
}

.headr .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.ul-headr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}

.navi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--navy-blue);
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.logo-headr {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-headr:hover,
.logo-headr:focus {
  color: var(--ocean);
}

.span-headr {
  color: var(--navy-blue);
}

.ul-address {
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px;
  margin: 0;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--slate);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--navy-blue);
  padding: 188px 0;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-section {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  background: var(--cloud);
}

.h-main {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  padding: auto 0 20px;
  max-width: 496px;
  margin: 0;
}

.adv-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0 120px;
}

.adv-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.adv-list-li {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.adv-list-li:last-child {
  margin-right: 0;
}

.adv-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.p-adv {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.p-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.ul-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.ul-team li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0 120px 0;
}

.portfolio-section-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0 120px 0;
  gap: 24px;
  max-width: 1128px;
  row-gap: 48px;
}

.portfolio-section-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0;
  margin-bottom: 8px;
}

.p-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

.portfolio-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  width: 100%;
  border: 1px solid #e7e9fc;
  border-top: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0 0;
}

.buttons {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 48px;
}

.buttons:hover,
.buttons:focus {
  background: var(--ocean);
}

.footr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footr .container {
  align-items: flex-start;
}

.logo-footr {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--iris);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.logo-footr:hover,
.logo-footr:focus {
  color: var(--ocean);
}

.span-footr {
  color: var(--cloud);
}

.p-footr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
